ul {
  list-style: none;
  width: 100%;

  li {
    display: block;
    float: left;
    width: 25%;

    figure {
      width: 100%;
      margin: 0;
      height: 175px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

}

1. do some changes
2. 
3. analysing what is curret