<section>
  <h2>Credits</h2>
  <ul>
    <li>
      <figure>
        <img src="../../assets/img/font-awesome.png" alt="Font-awesome">
      </figure>
    </li>
    <li>
      <figure>
        <img src="../../assets/img/icon-monster.jpg" alt="Icon Monster">
      </figure>
    </li>
    <li>
      <figure>
        <img src="../../assets/img/action-adult-daylight.jpg" alt="https://www.pexels.com/@ursula-madariaga-212978">
      </figure>
    </li>
    <li>
      <figure>
        <img src="../../assets/img/Logo-GoogleFonts-color-background.png" alt="Google Fonts - Montserrat">
      </figure>
    </li>
  </ul>
</section>
