<section class="section-how-works">
  <div class="center">
    <h2>How it works</h2>
    <p class="long-copy">
      This project born as a personal project, in response to migrate music from our facebook linked spotify accounts to a new one not linked. As we
      could not find any free solution online, we decided to make one, that is how we created 'Janus'.</p>
    <p class="long-copy"> We connect to spotify through API services, and magicaly migrate your music from your old account to the new one.
      It is important to mention that we do not store any of your personal information or data, we just connect to spotify
      and migrate the playlists or songs that you want.
    </p>
    <div class="row">
        <div class="col-md-3">
          <h3>Free</h3>
          <p>We do not charge anything for using it.</p>
        </div>
        <div class="col-md-3">
          <h3>Fast &mdash; Online</h3>
          <p>Online solution, no installations or additional software required.</p>
        </div>
        <div class="col-md-3">
          <h3>User to user</h3>
          <p>Made from a spotify user to serve another spotify users.</p>
        </div>
        <div class="col-md-3">
          <h3>Secure</h3>
          <p>We do not store any credentials or personal information.</p>
        </div>
      </div>
  </div>
</section>